body, html {
    height: 100%;
    margin: 0;
    font-family: 'Lato',sans-serif;
    font-size: 18px;
  }
  h1,h2,h3{
    font-family: 'Playfair Display', serif;
}
  .hero-image {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('..//images/hero_image.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    padding: 1em;
  }
  
  .hero-text {
    text-align: center;
    position: relative;
    color: white;
    vertical-align: center;
    text-transform: uppercase;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }
  
  header{
    background-color: #16697A;
    padding:1em 0;
    text-align: center;
    color:white;
  }
  header img{
    width: 100px;
  }
  #menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #16697A;
	color: #000;
    position: absolute;
    z-index: 1;
    top:0; 
    right:0
}
#menu::before {
	content: "≡";
    color:white
}
.navigation {
	list-style: none;
    z-index: 1;
    
}
ul{
    padding-inline-start: 0;
}
.navigation li {
	display: none;
    text-align: center;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
    text-align: center;
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color: #489FB5;
}

.show li {
	display: block;
    margin: 0;
}

#menu.show::before {
	content: "X";
}

.hero img{
  width: 100%;
  height: auto;
}

  nav{
    overflow: hidden;
    background-color: #16697A;
    position: relative;
  }
  section h3{
    background-color:#489FB5;
    margin-inline-start: 0;
    margin-block: 0;
    text-align: center;
    padding:.5em;
    color:white;
  }
  .content-wrapper{
    display: block;
    align-items:baseline;
    justify-content: space-between;
    text-align: center;
    padding: 1em;
  }

.content-wrapper>div>img{
    width:100px;
}
.content-wrapper div{
    font-size:.5em
}
.events{
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding:1em;
    text-align: center;
}
.events>div>img{
    width: 100px;
}
.abouts{
    padding: 1em;
    grid-gap: 10px;
    text-align: center;
}
.abouts img{
    width:100%;

}
.directory{
    width:80%;
    margin: 0 auto;
    padding:1em;
    text-align: center;
}
table,th,td{
    border-collapse: collapse;
    border:1px solid;
}
footer{
    background-color: #FFA62B;
    color:black;
    text-align: center;
    padding: 1em;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.container h2{
  text-align: center;
}
.container-thanks{
  text-align: center;
}
form{
  margin:1em;
  grid-column: 1/3;
}

.form-group {
  margin-bottom: 20px;
}
label {
  font-weight: bold;
}
textarea {
  width: 100%;
  height: 100px;
}
input{
  width: 100%;
}
.membership-benefits {
  grid-column: 3/4;
  padding-left: 20px;
}
.membership-benefits h3{
  text-align: center;
}
.buttonHolder{
  text-align: center;
}