@media only screen and (min-width: 37.5em) {
    .hero-image {
        height: 30vw;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
    }
    .hero-text{
        font-size: 1.5em;
    }
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
    .content-wrapper>div>img{
        width:300px;
    }
    .events>div>img{
        width: 500px;
    }
    .abouts{
        display: grid;
        width: 780px;
        margin:0 auto;
        grid-template-columns: 300px auto;
        padding: 2em 5em;
        grid-gap: 10px;
        text-align: center;
    }
    .abouts img{
        grid-column: 1/2;
        width:100%;
    }
    .directory{
        padding:1em;
        text-align: center;
    }
    table{
        margin:0 auto;
        width: 780px;
        font-size: 1.2em;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
}