* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Sansita", sans-serif;
}

header {
	background-color: #1c4d72bb;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	text-decoration:overline;
}

.active {
	color: yellow;
}
nav a{
    font-family: 'Open sans';
    text-decoration: none;
}
main{
   display: grid; 
   width:700px;
   margin:0 auto;
}

ul{
    list-style: none;
}
main h3{
    background-color: rgb(30, 30, 184);
    color: white;
    text-align: center;
}
.card{
    padding-top: 0;
    margin-bottom: 20px;
}
footer{
    text-align: center;
}



/* mobile **************************/


header,
main {
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
}




/* Larger Views ******************************/
@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
}
